@import 'colors';

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: $black;
}

footer {
    margin-left: 140px;
    padding: 82px 0 46px;
}
