.title {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 130%;
  color: #000000;
}

.subtitle {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 450;
  font-size: 32px;
  line-height: 150%;
  color: #000000;
}

.b20 {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.bk16 {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
}

.r16 {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #000000;
}

.bk_16 {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #000000;
}
