main {
  margin: 190px 140px 75px;

  div {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 130%;
    text-align: justify;
    color: #111111;
  }
}
